:root {
  --lightGreen: #bac7a7;
  --mediumGreen: #909c7c;
  --darkGreen: #778364;
  --lightYellow: #e5e4cc;
  --mainWhite: #dfd9d9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: $font-size;

  h2 {
    font-size: $h2-mobile;
    border-bottom: 3px solid black;
    margin: 0.5px auto;
  }

  h3 {
    font-size: $h3-mobile;
    margin: 0.25rem auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@include small-breakpoint {
  body {
    h1 {
      font-size: $h1;
    }

    h2 {
      font-size: $h2;
    }

    h3 {
      font-size: $h3;
    }
  }
}
