// colors
$lightGreen: #bac7a7;
$mediumGreen: #909c7c;
$darkGreen: #778364;
$lightYellow: #e5e4cc;
$mainWhite: #dfd9d9;

// containers
$x-small: 720px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

// screen breakpoints
$mobile: 620px;
$tablet: $small;
$desktop: $medium;

$width: 1200px;

// font for webpage
$font-size: 16px;
$h1: 2.5rem;
$h2: 2.2rem;
$h3: 1.85rem;
$h4: 1.5rem;
$h5: 1.4rem;

// font for phones
$h1-mobile: 1.85rem;
$h2-mobile: 1.7rem;
$h3-mobile: 1.5rem;
$h4-mobile: 1.3rem;
$h5-mobile: 1rem;

//font for header
$header-button: 1.2rem;

$border-radius: 3px;

//button
$button-font-size: 16px;
