.contact_form {
  width: 100%;
  text-align: center;
  background: var(--mediumGreen);
  padding: 10px;
}

.contact_form .form {
  width: 40%;
  margin: auto;
  display: block;
}

.contact_form .form .button_block {
  text-align: right;
  display: flex;
}

.submit_success {
  flex: 1;
  text-align: center !important;
  margin: auto;
}

.button.disable_button {
  pointer-events: none;
  opacity: 0.2;
}

.contact_form h1 {
  text-transform: uppercase;
}
