.profile_box {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
}

.portfolio_container {
  max-width: 90%;
  display: flex;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.portfolio_container .left {
  width: 40%;
  height: 100%;
  margin: auto;
}

.portfolio_container .left .left_container {
  width: 90%;
  margin: auto;
}

.portfolio_container .left .left_container h2 {
  margin: auto;
  border-bottom: 3px solid black;
}

.portfolio_container .left .left_container p {
  margin: 10px auto;
}

.portfolio_container .right {
  flex: 1;
  height: 100%;
}

.portfolio_container .right .right_container {
  width: 100%;
  overflow: hidden;
}

.portfolio_container .right .right_container .image {
  width: 90%;
  height: auto;
  vertical-align: middle;
}

.portfolio_container .right .right_container .image:hover {
  transform: scale(1.05);
  transform-origin: 50% 50%;
  transition-duration: 1s;
}
