.intro {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: black;

  .split_left,
  .split_right {
    display: block;
    margin: auto;
    padding: 1rem 0;
  }

  .left_container {
    width: 85%;
    margin: auto;

    .profile {
      height: auto;
      width: 80%;
      border: 3px;
    }
  }

  .right_container {
    color: black;
    width: 85%;
    margin: auto;

    .skillContainer {
      width: 100%;
      background-color: $lightYellow;
      display: flex;
      margin-bottom: 1rem;
      height: 2rem;
    }

    .name {
      width: 9rem;
      justify-content: center;
      background: $lightGreen;
    }

    .skill {
      background-color: $darkGreen;
    }
  }
}

@include small-breakpoint {
  .intro {
    display: flex;

    .split_left {
      width: 45%;
    }

    .split_right {
      flex: 1;
    }

    .left_container {
      width: 70%;
    }

    .right_container {
      width: 80%;

      .name {
        width: 7rem;
      }
    }
  }
}
